.MacroCalculator {
  min-height: 300px;
  background-color: #EEEEEE;
  padding: 40px;
}

.MacroCalculator .text {
  color: white;
}

.MacroCalculator h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #C2185B;
  font-weight: bold;
}

.MacroCalculator .protein {
  color: #F5055A;
}

.MacroCalculator .carbs {
  color: #F49643;
}

.MacroCalculator .fats {
  color: #7CC249;
}

.MacroCalculator input[type=number] {
  width: 100px;
  background: none;
  border-radius: 2rem;
  padding: 15px 30px;
  border: 2px solid #FFFFFF;
  font-weight: 900;
  letter-spacing: 0.1em;
  font-size: 12px;
  transition: all 400ms;
  margin-top: 10px;
  margin-bottom: 10px;
}

.MacroCalculator input[type=number]:focus {
  outline: none;
  border: 2px solid #C2185B;
}

input[type=submit]:focus {
  outline: none;
}

.MacroCalculator input[type=submit] {
  width: 100px;
  background: none;
  border-radius: 2rem;
  padding: 15px 20px;
  border: 2px solid #C2185B;
  font-weight: 900;
  letter-spacing: 0.1em;
  font-size: 12px;
  margin-top: 0;
  text-transform: uppercase;
  transition: all 400ms;
}

.MacroCalculator input[type=submit]:hover {
  background-color: #C2185B;
  color: white;
}
