.About {
  min-height: 300px;
  background-color: #EEEEEE;
  padding: 40px;
}

.About h1 {
  margin: 0;
  text-align: center;
}

.About p {
  padding: 20px;
}

.About mark {
  background-color: rgba(3,192,5,0.2);
  padding: 3px;
}
