.Header {
  background-color: #C2185B;
  min-height: 100px;
}

.Header h1 {
  margin: 0;
  padding: 0px;
  text-align: center;
  color: white;
}

.Header .row {
  padding: 30px;
}

.Header .nav {
  float: right;
}

.Header .nav>li>a {
  margin-left: 20px;
}

.Header .nav-pills li a,
.Header .nav-pills li a:focus,
.Header .nav-pills li a:visited,
.Header .nav-pills li a:active,
.Header .nav-pills li a:active:focus {
  color: white;
  background: none;
  text-decoration: none;
  border-radius: 2rem;
  padding: 15px 30px;
  border: 2px solid white;
  font-weight: 900;
  letter-spacing: 0.1em;
  font-size: 12px;
  margin-top: 0;
  text-transform: uppercase;
  transition: all 400ms;
}

.Header .nav-pills li.active a:hover,
.Header .nav-pills li a:hover {
  background-color: white;
  color: #C2185B;
}