.ProductsCalculator {
  min-height: 300px;
  background-color: #EEEEEE;
  padding: 40px;
}

.ProductsCalculator h1 {
  padding: 0;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}

.ProductsCalculator h2 {
  color: #C2185B;
  font-weight: bold;
  margin-bottom: 40px;
}

.ProductsCalculator h3 {
  margin-bottom: 25px;
}

.ProductsCalculator p {
  margin-top: 15px!important;
}

.ProductsCalculator .autocomplete-highlighted-item {
   color: white;
   background: #C2185B;
   padding: 2px 6px;
   cursor: default;
 }

.ProductsCalculator .autocomplete-item {
  padding: 2px 6px;
  cursor: default;
}

.ProductsCalculator #products-autocomplete {
  width: 250px;
  background: none;
  border-radius: 2rem;
  padding: 15px 30px;
  border: 2px solid #FFFFFF;
  font-weight: 900;
  letter-spacing: 0.1em;
  font-size: 12px;
  transition: all 400ms;
  margin-top: 10px;
}

.ProductsCalculator #products-autocomplete:focus {
  outline: none;
  border: 2px solid #C2185B;
}


.ProductsCalculator input[type=number] {
  width: 250px;
  background: none;
  border-radius: 2rem;
  padding: 15px 30px;
  border: 2px solid #FFFFFF;
  font-weight: 900;
  letter-spacing: 0.1em;
  font-size: 12px;
  transition: all 400ms;
  margin-top: 10px;
  margin-bottom: 10px;
}


.ProductsCalculator input[type=number]:focus {
  outline: none;
  border: 2px solid #C2185B;
}

.ProductsCalculator input[type=submit] {
  background: none;
  border-radius: 2rem;
  padding: 15px 30px;
  border: 2px solid #C2185B;
  font-weight: 900;
  letter-spacing: 0.1em;
  font-size: 12px;
  margin-top: 20px;
  text-transform: uppercase;
  transition: all 400ms;
}

.ProductsCalculator input[type=submit]:hover {
  background-color: #C2185B;
  color: white;
}

.ProductsCalculator .total {
  font-weight: bold;
}