.SingleProduct {
  background-color: #43A047;
  width: 100%;
  height: 40px;
  margin: 10px;
  padding: 10px;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.08);
  -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.08);
  box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.08);
}

.SingleProduct p {
  color: white;
}

.SingleProduct .name {
  color: white;
  font-weight: bold;
}

.SingleProduct button.close {
  font-size: 17px!important;
}