.IntakeCalculator {
  min-height: 300px;
  background-color: #EEEEEE;
  padding: 40px;
}


.IntakeCalculator h1 {
  text-align: center;
  padding-top: 0;
  color: #C2185B;
  margin-bottom: 30px;
  font-weight: bold;
}

.IntakeCalculator .radio-label {
  margin-top: 10px;
  margin-bottom: 20px;
}

.IntakeCalculator .option {
  padding: 5px;
}

.IntakeCalculator mark {
  background-color: rgba(3, 192, 5, 0.2);
  padding: 3px;
  margin-left: 5px;
}

.IntakeCalculator input[type=number] {
  width: 120px;
  background: none;
  border-radius: 2rem;
  padding: 15px 30px;
  border: 2px solid #FFFFFF;
  font-weight: 900;
  letter-spacing: 0.1em;
  font-size: 12px;
  transition: all 400ms;
  margin-top: 10px;
  margin-bottom: 10px;
}

.IntakeCalculator input[type=submit] {
  background: none;
  border-radius: 2rem;
  padding: 15px 30px;
  border: 2px solid #C2185B;
  font-weight: 900;
  letter-spacing: 0.1em;
  font-size: 12px;
  margin-top: 0;
  text-transform: uppercase;
  transition: all 400ms;
}

.IntakeCalculator input[type=number]:focus {
  outline: none;
  border: 2px solid #C2185B;
}

.IntakeCalculator input[type=submit]:hover {
  background-color: #C2185B;
  color: white;
}