.Footer {
  background-color: #757575;
  min-height: 80px;
}

.Footer h1 {
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
}

.Footer p {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 30px;
  text-align: center;
}